.input {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--palette-primary-10);
  border: 1px solid var(--palette-primary-200);
  color: var(--palette-primary-300);
  outline: none;
}